.about {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #f9ecd8;
    padding: 100px;
    .container {
        position: relative;
        width: 100%;
        height: 100%;
        border: 3px solid rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        display: flex;
        .content {
            position: relative;
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .intro {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .img {
                    width: 150px;
                    height: 150px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .text {
                    margin-top: 20px;
                    font-family: 'Roboto', sans-serif;
                    font-size: 1em;
                    font-weight: 500;
                    width: 70%;
                    letter-spacing: 1px;
                }
            }
            .box {
                width: 100%;
                height: 100%;
                padding: 10px;
                h4 {
                    margin-top: 20px;
                    text-align: center;
                }
                p {
                    margin-top: 20px;
                    font-size: 1em;
                    font-weight: 500;
                }
            }
        }
    }
}
@media (max-width: 1050px) {
    .about {
        .container {
            .content {
                width: 100%;
                .intro {
                    .text {
                        font-weight: 600;
                    }
                }
                &:nth-child(2) {
                    display: none;
                }
            }
        }
    }
}
@media (max-width: 553px) {
    .about {
        padding: 100px 50px;
    }
}
@media (max-width: 378px) {
    .about {
        padding: 100px 20px;
    }
}
@media (max-width: 300px) {
    .about {
        .container {
            .content {
                .intro {
                    .text {
                        font-size: 0.8em;
                    }
                    .img {
                        width: 100px;
                        height: 100px;
                    }
                }
                
            }
        }
    }
}